<div class="container mt-3">
  <div class="row">
    <div class="col-lg-12">
      <div class="form-group mb-3">
        <label for="cantidad" class="form-label">Ingrese Cantidad</label>
        <input
          type="number"
          class="form-control form-control-lg"
          id="cantidad"
          placeholder="Ingrese Cantidad"
        />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        <label for="tengo" class="form-label">Tengo</label>
        <select class="form-select" id="tengo">
          <option value="1">MLC</option>
          <option value="2">USD</option>
          <option value="3">CUP</option>
        </select>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-group">
        <label for="quiero" class="form-label">Quiero</label>
        <select class="form-select" id="quiero">
          <option value="1">MLC</option>
          <option value="2">USD</option>
          <option value="3">CUP</option>
        </select>
      </div>
    </div>
  </div>
  <h5 class="text-center mt-5">
    <span class="badge bg-success"> adasdasdsad </span>
    <span class="badge bg-secondary"> Son </span>
    <span class="badge bg-success"> adasdasdsad </span>
  </h5>
</div>
